 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            margin:2px;
        }
        .main{
            display: flex;
            justify-content: space-around;
            background-color: blueviolet;
        }
        .main a{
            font-size: 15px;
            font-weight: bolder;
            color:white;
        }
    </style>
 </head>
 <body>
    <h1>Project Work</h1>
     <div class="main">
       <a href="/add">ADD CONTACT </a>
       <a href="/search">SEARCH CONTACT</a>
       <a href="/update">UPDATE CONTACT</a>
       <a href="/delete">DELETE CONTACT</a>
       <a href="/view">VIEW CONTACT</a>

     </div>
 </body>
 </html>